[submodule "External/KaHIP"]
	path = External/KaHIP
	url = https://github.com/KaHIP/KaHIP.git
[submodule "External/GKlib"]
	path = External/GKlib
	url = https://github.com/KarypisLab/GKlib.git
[submodule "External/METIS"]
	path = External/METIS
	url = https://github.com/KarypisLab/METIS.git
[submodule "External/mt-KaHIP"]
	path = External/mt-KaHIP
	url = https://github.com/KaHIP/mt-KaHIP.git
[submodule "External/Parallel-Graph-Colouring"]
	path = External/Parallel-Graph-Colouring
	url = https://github.com/Aj163/Parallel-Graph-Colouring.git
[submodule "External/kokkos-kernels"]
	path = External/kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
[submodule "External/csrcolor"]
	path = External/csrcolor
	url = https://github.com/chenxuhao/csrcolor.git
