*.csv
*.out
*.o
*.json

# Datasets
Datasets/*.egr
Datasets/SNAP/*.txt
Datasets/SNAP/*.bin
Datasets/SNAP/snap2ecl
Datasets/0929/
Datasets/SNAP/p10/
Datasets/SNAP/p20/
Datasets/SNAP/p5/
Datasets/SSMC/
Datasets/fail/
Datasets/test/

*_pycache_*
cpu_*
CHROMA/CHROMA
CHROMA_RGP/CHROMA_RGP
JP-Series/JP-Series
